.elementor-kit-6{--e-global-color-primary:#121963;--e-global-color-secondary:#EE8E00;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Inter";--e-global-typography-primary-font-weight:500;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-container{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}
/*
     FILE ARCHIVED ON 17:25:13 Sep 28, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:37:11 May 24, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 179.653
  exclusion.robots: 0.184
  exclusion.robots.policy: 0.167
  cdx.remote: 0.152
  esindex: 0.011
  LoadShardBlock: 110.961 (3)
  PetaboxLoader3.datanode: 182.818 (5)
  load_resource: 194.205
  PetaboxLoader3.resolve: 93.209
  loaddict: 67.66
*/