.elementor-162 .elementor-element.elementor-element-00f7047{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-162 .elementor-element.elementor-element-eea647a{padding:0px 0px 0px 0px;}.elementor-162 .elementor-element.elementor-element-aaf70bf{color:#000000;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-162 .elementor-element.elementor-element-03901c3{color:#000000;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-162 .elementor-element.elementor-element-64e612d{color:#000000;font-family:"Inter", Sans-serif;font-weight:500;}.elementor-162 .elementor-element.elementor-element-64e612d > .elementor-widget-container{margin:0px 0px -45px 0px;padding:0px 0px 0px 0px;}.elementor-162 .elementor-element.elementor-element-4237b7e{color:#000000;font-family:"Inter", Sans-serif;font-weight:500;}.elementor-162 .elementor-element.elementor-element-71fd392{color:#000000;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-162 .elementor-element.elementor-element-4c9ba14{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-162 .elementor-element.elementor-element-06ad028{color:#000000;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-162 .elementor-element.elementor-element-6bf718c{padding:0px 0px 0px 0px;}.elementor-162 .elementor-element.elementor-element-24d20d7{color:#000000;font-family:"Inter", Sans-serif;font-weight:500;}.elementor-162 .elementor-element.elementor-element-1290fd8{color:#000000;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}.elementor-162 .elementor-element.elementor-element-e657fec{color:#000000;font-family:"Inter", Sans-serif;font-weight:500;}.elementor-162 .elementor-element.elementor-element-4bae987{color:#000000;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;}
/*
     FILE ARCHIVED ON 17:25:18 Sep 28, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:37:57 May 24, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 119.438
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.067
  cdx.remote: 0.063
  esindex: 0.009
  LoadShardBlock: 88.431 (3)
  PetaboxLoader3.datanode: 139.835 (5)
  load_resource: 67.712
  loaddict: 31.658
*/